body {
        background-color: rgb(16, 71, 78);
}
h2 {
    font-style: initial;
    font-size: 60px; 
    text-align: center;
}

#perfil {
    font-style: oblique;
    font-size: 20px;
}

#danperfil {
    width: 200px;
    float: left;
}

#sobremim {
    margin-left: 230px;
}

#hobbies {
    margin-left: 230px;
}

.guia {
    margin-left: 230px;
}

div {
    border: 2px solid green;
}