body {
        background-color: rgb(16, 71, 78);
}
h2 {
    font-style: initial;
    font-size: 60px; 
    text-align: center;
}

#perfil {
    font-style: oblique;
    font-size: 20px;
    
}

#danperfil {
    width: 220px;
    float: left;
    height: 200px;
    border-radius: 30px;
    padding: 5px;
    background-color: black;
}


#sobremim {
    margin-left: 250px;
}

.guia {
    margin-left: 250px;
}

.linkedin {
    height: 30px;
}

.github {
    height: 30px;
}
